<h1>WPS server</h1>

<a href="/cit/cit_client.html">Climate Indices Tool - create request</a><br/>
<br/>

<a href="/cit/new">Climate Indices Tool - test create request</a><br/>
<a href="/cit/list">Climate Indices Tool - list of requests</a><br/>
<a href="/cit/list.csv">Climate Indices Tool - list of requests (in CSV format)</a><br/>
<br/>
<a href="/cit/debug">Climate Indices Tool debugger</a><br/>
<br/>
