<div class="l-content">
	<div class="action-tables pure-g">
	
		<div class="pure-u-1 pure-u-md-1-1">
			<div class="action-table-b">
				<div class="action-table-header">
					<h1>Climate Indices Tool - WPS Proxy</h1>
				</div>
			</div>
		</div>

		<div class="pure-u-1 pure-u-md-1-1">
			<h2></h2>
			<i>Use this proxy service to forward a request to the CIT server.</i>
		</div>
	
	</div> <!-- end action-tables -->

	<div class="information pure-g">
	
		<div class="pure-u-1">
				<div class="l-box">
				<%= form_tag({:action => :create_request}, :multipart => true) do %>
					<%= file_field_tag 'file', :size=>80 %>
					<input type="submit" value="Submit"/>
				<% end %>

				</div>
		</div>

	</div>

</div>
 
