<p>Personal communications with P. Thomas  in Alberta and S. Brandt  in Saskatchewan suggest that canola responds in a similar manner to the small grains with respect to moisture stress.  The critical cut off points used for Canola are thus identical to those originally used to determine the aridity rating for spring-seeded small grains in version 1 of LSRS:</p>
