<p>The consensus from all researchers and extension people was that CHUs (Crop Heat Units) was the most appropriate index for ranking corn heat requirements. It correlates very well with standard Growing Degree Day (GDD) values and indexes such as that used in the U.S., but has been specifically developed to recognize the threshold and physiological requirements of corn. In addition, all cultivars are rated on their CHU requirements and both extension and crop insurance agencies in all provinces use this index.</p>

<p>Literature reviews (Brown and Bootsma 1993) and consultations (L. Reid per. com.) have suggested the following critical values:</p>
