<tr><th colspan="9">1) Soil Temperature Factor</th></tr>
	<tr>
		<td>EGDD index =</td>
		<td><%=@site.climate.EGDD%></td>
		<td></td>
		<td></td>
		<td>deduction =</td>
		<td><%=@site.soil.TemperatureDeduction.round(0)%></td>
		<td class="Abbr">(<b>Z</b>)</td>
		<td class="Abbr"><a href="/documentation/Section5_1">more info</a></td>	</tr>
	</tr>
