<tr><th colspan="9">Soil Rating</th></tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Final Soil Rating (<i>g</i> - W) =</td>
		<td><%=@site.soil.FinalSoilRating.round(0)%></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Soil Suitability =</td>
		<td colspan="2" class="Abbr"><b>Class <%=@site.soil.SuitabilityClass%></b></td>
	</tr>