 <style>
.url_link
{
		font-weight: bold;
    text-decoration: none;
}
</style>
<% routes = File.readlines(Rails.root + "config/routes.rb").grep(/lsrs5/).grep(/#{Regexp.quote(params[:crop])}/)%>
<% routes.concat File.readlines(Rails.root + "config/routes.rb").grep(/lsrs5/).grep(%r(/lsrs5/crop/:crop))%>

<%routes.each do |route| %>
	<%uriPattern = route.split(/'/)[1].split("/")%>
	<%uriPattern.each{|word|  word.replace(params[:crop]) if word == ":crop" }%>
	<h2><%=uriPattern[3..4].join(": ")%></h2>
	<%markedupPattern = Array.new%>
	<h3><%for param in uriPattern[1..-1] do%>/<%if param[0] == ":" and param != ":view.:format" then%><a class="url_link" href="/lsrs5/documentation/interface/inputs/<%=param[1..-1]%>"><%=param%></a><%else%><%=param%><%end%><%end%></h3>
	<hr/>
<%end%>
 