<h3>4.2.7 Organic (peaty) surface (0)</h3>

<p>Organic surfaces, when cultivated, present special
management problems which are related to seed bed preparation and cold soil temperatures.
The degree of decomposition and the depth of organic material are the rated parameters.
The well decomposed, dark colored, humic, sedge peats which are generally well compacted
and have a granular structure are the most favourable. The least favourable are the light
colored, fibric, moss peats which are quite porous. Mesic materials have characteristics
between the other two. Table 4.11 was developed using these guidelines. Organic surfaces
greater than 40 cm deep (60 cm if all fibric) are discussed under Organic Soils (Chapter
5).</p>

<table>
  <tr>
    <td><b>Table 4.11 </b>Point
    deductions for organic surfaces.<sup>1</sup></td>
  </tr>
  <tr>
    <td>Depth of Peat<sup>2</sup>
    (cm)</td>
    <td>Degree of decomposition</td>
    <td>General<br>structure</td>
    <td>General consistence</td>
    <td>Point deduction</td>
  </tr>
  <tr>
    <td>10</td>
    <td>humic</td>
    <td rowspan="3">compact<br/>to<br/>spongy</td>
    <td rowspan="3">friable<br/>to<br/>fibrous</td>
    <td>0</td>
  </tr>
  <tr>
    <td>10</td>
    <td>mesic</td>
    <td>0</td>
  </tr>
  <tr>
    <td>10</td>
    <td>fibric</td>
    <td>0</td>
  </tr>
  <tr>
    <td>40</td>
    <td>humic</td>
    <td rowspan="3">compact<br/>to<br/>spongy</td>
    <td rowspan="3">friable<br/>to<br/>fibrous</td>
    <td>12</td>
  </tr>
  <tr>
    <td>40</td>
    <td>mesic</td>
    <td>18</td>
  </tr>
  <tr>
    <td>40</td>
    <td>fibric</td>
    <td>24</td>
  </tr>
</table>

<p>
<sup>1</sup>If deductions are made for an organic surface, the mineral soil ratings for structure and
    organic matter are not used. <br>
<sup>2</sup>If the depth of peat is less than 10 cm the soil should be rated as a mineral
    soil.
</p>


<h3>4.2.7 Organic (Peaty) Surface (O)</font></h3>

<table>
  <tr>
    <td width="68%"><h4><strong>Table 4.11 Implementation - </strong>Organic
    Surface Deduction (O)</font></h4>
    </td>
  </tr>
  <tr>
    <td><br>
    <strong>O = (D - 10) * ( SQRT(0.12) / SQRT(Db) )</strong><br>
    <br>
    where:&nbsp;&nbsp;&nbsp;&nbsp; D = depth of organic horizon(s) (Ox)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Db = bulk density of organic horizon</font></td>
  </tr>
  <tr>
    <td>COMMENTS:</font><ul>
      <li>If D - 10 &lt; 0 then OSD = 0</font></li>
      <li>If no value for Db then use 0.12</font></li>
      <li>This is a seed bed concern.</li>
    </ul>
    </td>
  </tr>
</table>
