<h3>Salinity (N)</h3>

<p>Salinity refers to the presence of excessive amounts
of soluble salts such as magnesium sulphate. Salinity affects crop growth in two ways.
There are chemical effects, but the presence of salts also makes it more difficult for
plants to take up water.</p>

<p>Salinity, expressed in terms of electrical
conductivity (EC), can be measured in the field or laboratory, or it can be estimated from
soil and vegetation characteristics. Crops vary appreciably in salt tolerance, but in
general, the effects become noticeable at an EC of about 4 and moderate to severe by an EC
of 8. There is very little crop growth at an EC of 16 (Maas and Hoffman, 1977; HoIm,
1982). Table 4.9 was developed from these relationships.</p>


<p>&nbsp;</p>


<table>
  <tr>
    <td colspan="3"><br>
    <strong>Table 4.9 - Point deductions for surface soil salinity for spring-seeded small
    grains.</strong><br>
    </td>
  </tr>
  <tr>
    <td>Salinity<sup>1</sup>
    (dSIm)</td>
    <td>Common features</td>
    <td>Points deducted</td>
  </tr>
  <tr>
    <td>2</td>
    <td>- no apparent signs<br>
    - affects sensitive crops</td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>- presence of foxtail<br>
    - some white specks on soil surface <br>
    - crop growth affected to some extent</td>
    <td>20</td>
  </tr>
  <tr>
    <td>8</td>
    <td>- plants restricted to salt tolerant
    species (e.g. Kochia) <br>
    - white salt crusts common <br>
    - crops strongly affected</td>
    <td>50</td>
  </tr>
  <tr>
    <td>16</td>
    <td>- plants restricted to species such as red
    samphire <br>
    - salt crust and salts throughout profile <br>
    - little or no crop growth</td>
    <td>90</td>
  </tr>
  <tr>
    <td colspan="3"><sup>1</sup>Measured in extract at water-saturated paste.</td>
  </tr>
</table>

&nbsp;</p>






<table>
  <tr>
    <td><h4><strong>Table 4.9 Implementation - Deduction for
    Surface Salinity (N)</strong></h4>
    </td>
  </tr>
  <tr>
    <td>MMF Model: <strong>Point Deduction =
    (a*b+c*x^d)/(b+x^d) </strong><br>
    <br>
    Coefficient Data: <br>
    a = -28.704261 <br>
    b = 17.748344 <br>
    c = 278.70426 <br>
    d = 0.87021431 <br>
    <br>
    x = Salinity</td>
  </tr>
  <tr>
    <td><img src="/images/Table4-09.gif"
    alt="Table4-09.gif (6245 bytes)" width="576" height="434"></td>
  </tr>
  <tr>
    <td>COMMENTS:</td>
  </tr>
</table>
