<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<table border="1" width="100%">
  <tr>
    <td width="100%" bgcolor="#FFFF00"><strong>IMPORTANT NOTE ON 4.2.4, 4.2.5, AND 4.2.6</strong><p>High
    pH, high salinity (and high sodicity) values often indicate the same problem - a poor soil
    solution chemical balance that inhibits water uptake by plants. In order to limit
    &quot;double counting&quot;, only the most limiting of surface and subsurface values of
    the most limiting factor is used for the final deduction. This comparison is made after
    all factors have been calculated.</p>
    <p>&nbsp;</td>
  </tr>
</table>
<h3><font face="Arial">4.2.5&nbsp;&nbsp;&nbsp; Salinity (N)</font></h3>


<p ALIGN="JUSTIFY"><font face="Arial">Salinity refers to the presence of excessive amounts
of soluble salts such as magnesium sulphate. Salinity affects crop growth in two ways.
There are chemical effects, but the presence of salts also makes it more difficult for
plants to take up water.</font></p>

<p ALIGN="JUSTIFY"><font face="Arial">Salinity, expressed in terms of electrical
conductivity (EC), can be measured in the field or laboratory, or it can be estimated from
soil and vegetation characteristics. Crops vary appreciably in salt tolerance, but in
general, the effects become noticeable at an EC of about 4 and moderate to severe by an EC
of 8. There is very little crop growth at an EC of 16 (Maas and Hoffman, 1977; HoIm,
1982). Table 4.9 was developed from these relationships.</font></p>
<font SIZE="2">

<p>&nbsp;</p>
</font>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="654">
  <tr>
    <td WIDTH="640" VALIGN="TOP" colspan="3"><font face="Arial" size="3"><br>
    <strong>Table 4.9 - Point deductions for surface soil salinity for spring-seeded small
    grains.</strong><br>
    </font></td>
  </tr>
  <tr>
    <td WIDTH="75" VALIGN="TOP"><font face="Arial">Salinity<font SIZE="2"><sup>1</sup></font>
    (dSIm)</font></td>
    <td WIDTH="411" VALIGN="TOP"><p ALIGN="CENTER"><font face="Arial">Common features</font></td>
    <td WIDTH="126" VALIGN="TOP"><font face="Arial">Points deducted</font></td>
  </tr>
  <tr>
    <td WIDTH="75" VALIGN="TOP"><font SIZE="2" face="Arial">2</font></td>
    <td WIDTH="411" VALIGN="TOP"><font face="Arial">- no apparent signs<br>
    - affects sensitive crops</font></td>
    <td WIDTH="126" VALIGN="TOP"><font SIZE="2"><p ALIGN="CENTER"><font face="Arial">0</font></font></td>
  </tr>
  <tr>
    <td WIDTH="75" VALIGN="TOP"><font SIZE="2" face="Arial">4</font></td>
    <td WIDTH="411" VALIGN="TOP"><font face="Arial">- presence of foxtail<br>
    - some white specks on soil surface <br>
    - crop growth affected to some extent</font></td>
    <td WIDTH="126" VALIGN="TOP"><font SIZE="2"><p ALIGN="CENTER"><font face="Arial">20</font></font></td>
  </tr>
  <tr>
    <td WIDTH="75" VALIGN="TOP"><font SIZE="2" face="Arial">8</font></td>
    <td WIDTH="411" VALIGN="TOP"><font face="Arial">- plants restricted to salt tolerant
    species (e.g. Kochia) <br>
    - white salt crusts common <br>
    - crops strongly affected</font></td>
    <td WIDTH="126" VALIGN="TOP"><font SIZE="2"><p ALIGN="CENTER"><font face="Arial">50</font></font></td>
  </tr>
  <tr>
    <td WIDTH="75" VALIGN="TOP"><font SIZE="2" face="Arial">16</font></td>
    <td WIDTH="411" VALIGN="TOP"><font face="Arial">- plants restricted to species such as red
    samphire <br>
    - salt crust and salts throughout profile <br>
    - little or no crop growth</font></td>
    <td WIDTH="126" VALIGN="TOP"><font SIZE="2"><p ALIGN="CENTER"><font face="Arial">90</font></font></td>
  </tr>
  <tr>
    <td WIDTH="612" VALIGN="TOP" colspan="3"><font SIZE="2" face="Arial"><sup>1</sup></font><font
    face="Arial">Measured in extract at water-saturated paste.</font></td>
  </tr>
</table>

<p ALIGN="CENTER">&nbsp;</p>






<table border="1" width="100%">
  <tr>
    <td width="68%"><h4><font face="Arial"><strong>Table 4.9 Implementation - Deduction for
    Surface Salinity (N)</strong></font></h4>
    </td>
  </tr>
  <tr>
    <td width="100%"><font face="Arial">MMF Model: <strong>Point Deduction =
    (a*b+c*x^d)/(b+x^d) </strong><br>
    <br>
    Coefficient Data: <br>
    a = -28.704261 <br>
    b = 17.748344 <br>
    c = 278.70426 <br>
    d = 0.87021431 <br>
    <br>
    x = Salinity</font></td>
  </tr>
  <tr>
    <td width="100%"><font face="Arial"><img src="/images/Table4-09.gif"
    alt="Table4-09.gif (6245 bytes)" width="576" height="434"></font></td>
  </tr>
  <tr>
    <td width="100%"><font face="Arial">COMMENTS:</font></td>
  </tr>
</table>

<p>&nbsp;</p>

<hr>

<p>&nbsp;</p>


<p>&nbsp;</p>




<%= render :partial => "clf3" %>