<h3>Sodicity (Y)</h3>

<p>As the percentage of sodium on the soil exchange
complex increases over about 15% (usually associated with a pH over 8.5) the stability of
soil aggregates decreases markedly. The finer soil particles, clays and organic matter,
become dispersed resulting in adverse physical conditions, i.e. massive and sticky when
wet and extremely hard when dry. This factor is not used if the surface texture is coarser
than loam (Alberta Soils Advisory Committee, 1987b).</p>


<table>
  <tr>
    <td colspan="3"><br>
    Table 4.10 Point deductions for surface soil sodicity<sup>1</sup><br>
    </td>
  </tr>
  <tr>
    <td>Sodicity (SAR)<sup>2</sup></td>
    <td>Saturation percentage<sup>3</sup><br>
    (Sat %)</td>
    <td>Points deducted</td>
  </tr>
  <tr>
    <td>4</td>
    <td>60</td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>80</td>
    <td>10</td>
  </tr>
  <tr>
    <td>12</td>
    <td>120</td>
    <td>30</td>
  </tr>
  <tr>
    <td>16</td>
    <td>160</td>
    <td>50</td>
  </tr>
  <tr>
    <td>20</td>
    <td>&gt;160</td>
    <td>80</td>
  </tr>
  <tr>
    <td colspan="3"><sup>1</sup>Used for reclaimed
    soils only. If points are deducted for SAR, do not deduct for pH and salinity. <br>
    <sup>2</sup>SAR = Sodium Adsorplion Ratio (see glossary for definition). <br>
    <sup>3</sup>Saturation percentage can be used as a proxy for SAR.</td>
  </tr>
</table>



<table>
  <tr>
    <td><h4><strong>Table 4.10 Implementation - Deduction for
    Surface Sodicity (Y)</strong></h4>
    </td>
  </tr>
  <tr>
    <td>Quadratic Fit: <strong>Point Deduction = a + b*x +
    c*x^2 </strong><br>
    Coefficient Data: <br>
    a = -6 <br>
    b = 0.71428571 <br>
    c = 0.17857143 <br>
    <br>
    x = Sodicity (SAR)</td>
  </tr>
  <tr>
    <td><img src="/images/Table4-10_SAR.gif"
    alt="Table4-10_SAR.gif (7230 bytes)" width="576" height="434"></td>
  </tr>
  <tr>
    <td>COMMENTS: <ul>
      <li>If Sodicity (SAR) is not known, then Saturation Percent (Sat%) may be
        used as a proxy to detemine SAR&nbsp; by using the equation illustrated below in Table
        4.10.</li>
    </ul>
    </td>
  </tr>
</table>

