<h3>Structure and consistence (D)</h3>

<p>Soil structure, the size, shape and arrangement of
aggregates and voids, affects infiltration and transmission of water, aeration and
workability, root penetration and seedling emergence. It is commonly related to soil
texture and organic matter content and to soil management. Associated physical properties
are consistence and bulk density. General relationships among structure, consistence,
texture, bulk density and limitations of soil as a medium for plant growth are described
more fully in Appendix A. Because management can markedly modify surface soil features in
cultivated soils, the maximum deduction is set at <strong>10 points</strong> (Table 4.5).
When combined with organic matter content (4.2.2) and depth of topsoil (4.2.3) the <strong>maximum
possible is 45 points</strong>.</p>

<table class="tabledoc">
	<caption><strong>Table 4.5 - Point deductions for surface soil structure and consistence <sup>1</sup></strong></caption>
	<thead>
		<tr>
			<th>Structure</th>
			<th>Consistence: Moist / Dry</th>
			<th>Point Deduction</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Granular, subangular or fine blocky</td>
			<td>friable, slightly hard</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Blocky or platy single grained</td>
			<td>firm / hard, loose / loose</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Massive</td>
			<td>very firm / very hard</td>
			<td>10</td>
		</tr>
	</tbody>
</table>
Notes:<br/>
	<sup>1</sup> For peaty surfaces see section on organic surface factor.
