<h3>4.2.3 Depth of topsoil (E)</h3>

<p>The relatively dark colored surface horizon (Ah undisturbed, Ap
cultivated) usually contains more organic matter and has a more favourable structure than
the subsurface. The depth at which the subsoil occurs and the nature of the subsoil are
related to both plant growth and ease of management. The main concern is the occurrence of
a root restricting layer within the top 20 cm (Table 4.7). Two situations can be
recognized: 

<ol>
  <li>a dense very firm or hard horizon with bulk density &gt;1.55<br/>
  - Some Bt, Bnt, Bn, Bx or Cx horizons</li>
  <li>extreme conditions such as very low OC (&lt;0.5%) or very high carbonate contents (&gt;40%).<br/>
  - some Ae or C horizons</li>
</ol>

<p>The latter should only be used where the conditions
extends beyond 20 cm. That is, it would not be destroyed by mixing the top 20 cm.</p>

<table>
	
	<caption><strong>Table 4.7 Point deductions for depth of topsoil <sup>1</sup></strong></caption>
	<thead>
		<tr>
			<th rowspan="2">Type of subsurface</th>
			<th colspan="5">Depth (cm) of topsoil<sup>1</sup></th>
		</tr>
		<tr>
			<td><strong>20</strong></td>
			<td><strong>15</strong></td>
			<td><strong>10</strong></td>
			<td><strong>5</strong></td>
			<td><strong>0</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>very firm, hard, massive, or extreme conditions (Bt, Bnt, Bx or Cca horizon)<sup>2</sup></td>
			<td>0</td>
			<td>5</td>
			<td>10</td>
			<td>15</td>
			<td>20</td>
		</tr>
	</tbody>
</table>
<p>Notes<br/>
<sup>1</sup> Depth to a root restricting layer <br/>
<sup>2</sup> Standard soil horizon designations - see glossary.
</p>
