<%= render :partial => "/lsrs/clf1" %>
<title>LSRS</title>
<%= render :partial => "/lsrs/clf2" %>
<center>
<h1>Land Suitability Rating System<br/>(LSRS)</h1>
</center>

<h2>Introduction</h2>
LSRS is an expert system that assesses the suitability of land for crop production, based on measurable qualities of soil, climate, and landform.  
This site contains <a href="/lsrsdoc_v3/LSRS_Index.htm">complete documentation of the original LSRS prototype</a>, 
a copy of the <a href="/lsrsdoc_v3/LSRSManualPDF/1995_6e.pdf">LSRS Spring Seeded Small Grains manual</a>, 
as well as links to the latest LSRS clients and services.

<h2>The rating system</h2>
<ol>
<li><a href="/lsrsdoc_v3/Section1_Introduction/Section1_LSRSManual.html">Introduction to LSRS</a></li>
<li><a href="/lsrsdoc_v3/Section2_SystemDevelopment/Section2_LSRSManual.htm">Description of the ratings</a></li>
<li><a href="/lsrsdoc_v3/RatingsAggregation/aggregation.html">Calculation of the summary ratings</a></li>
<li><a href="/documentation/CalculatorAndMethodologyDocuments.doc">Rating development and Methodology Documents</a>
  <ul>
    <li><a href="/documentation/reports/LSRSDevelopmentBackground.doc">Development Background</a></li>
    <li><a href="/documentation/reports/AlfalfaBromeTimothyModelDevelopment.doc">Alfalfa / Brome / Timothy Model Development</a></li>
    <li><a href="/documentation/reports/CanolaModelDevelopment.doc">Canola Model Development</a></li>
    <li><a href="/documentation/reports/CornSoybeanModelDevelopment.doc">Corn / Soybean Model Development</a></li>
  </ul></li>
<li><a href="/lsrsdoc_v3/AppendixB_Glossary/Glossary.htm">Glossary</a></li>
</ol>

<h2>LSRS clients and services</h2>
<center>
<table class="lsrsSubheader">
<tr>
<th>Clients</th>
<th>Services</th>
</tr>
<tr>
<td class="mid"><a href="/lsrs/client">LSRS calculator</a></td>
<td class="mid"><a href="/lsrs/wadl.xml">web service</a></td>
</tr>
<tr>
<td class="mid"><a href="/lsrsmulticrop/client">MultiCrop</a></td>
</tr>
</table>
<br/>
<br/>

</center>

<h2>Acknowledgements</h2>
<p>The LSRS calculator is based in part on logic and documentation developed for earlier prototypes by P. Krug (AAFC), G. Lelyk (AAFC), and G. Tychon, (Spatial Data Systems Consulting), and the scientific advice provided by Wayne Pettapiece, (AAFC/Pettapiece Pedology) and Tony Brierley (AAFC).</p>
<p>See the full <a href="history.html">history</a>.</p>

</center>
<%= render :partial => "/lsrs/clf3" %>
