<% content_for :title do %>LSRS version 5<% end %>

<center>
<h1>Land Suitability Rating System<br/>(LSRS) version 5</h1>
</center>


LSRS is an expert system that assesses the suitability of Canadian land for crop production, based on measurable qualities of soil, climate, and landform.  
This site allows on-line calculation of LSRS ratings for a variety of historical climate normals and future scenarios.

<h2>Documentation</h2>
<ol>
<li><a href="/lsrsdoc_v3/Section1_Introduction/Section1_LSRSManual.html">Introduction to LSRS</a></li>
<li><a href="/lsrsdoc_v3/Section2_SystemDevelopment/Section2_LSRSManual.htm">Description of the ratings</a></li>
<li><a href="/lsrsdoc_v3/RatingsAggregation/aggregation.html">Calculation of the summary ratings</a></li>
<li><a href="/documentation/CalculatorAndMethodologyDocuments.doc">Rating development and Methodology Documents</a>
  <ul>
    <li><a href="/documentation/reports/LSRSDevelopmentBackground.doc">Development Background</a></li>
    <li><a href="/documentation/reports/AlfalfaBromeTimothyModelDevelopment.doc">Alfalfa / Brome / Timothy Model Development</a></li>
    <li><a href="/documentation/reports/CanolaModelDevelopment.doc">Canola Model Development</a></li>
    <li><a href="/documentation/reports/CornSoybeanModelDevelopment.doc">Corn / Soybean Model Development</a></li>
  </ul></li>
<li><a href="/lsrsdoc_v3/AppendixB_Glossary/Glossary.htm">Glossary</a></li>
</ol>

<h2>LSRS calculator</h2>

<center>
<table class="lsrsSubheader">
<tr>
<th>Clients</th>
</tr>
<tr>
<td class="mid"><a href="/lsrs5/polygon_client">Crop calculator</a></td>
</tr>
<tr>
<td class="mid"><a href="/lsrs5/multicrop_client">MultiCrop calculator (TODO)</a></td>
</tr>
<tr><td><hr/></td></tr>
<tr>
<td class="mid"><a href="/lsrs5/polygonbatch_client">Batch processor</a></td>
</tr>
<tr>
<td class="mid"><a href="/lsrs5/batch/queue">Batch queue</a></td>
</tr>
<tr><td><hr/></td></tr>
<tr>
<td class="mid"><a href="/climateindices/index.html">Load Climate Data</a></td>
</tr>
<tr><td><hr/></td></tr>
<tr>
<td class="mid"><a href="tests.html">test page</a></td>
</tr>
</table>
<br/>
<br/>
</center>

<h2>Acknowledgements</h2>
<p>This web-based program is based on the logic and documentation developed for earlier prototypes by P. Krug, G. Lelyk (AAFC), and G. Tychon, (Spatial Data Systems Consulting), and the scientific advice provided by W. Pettapiece, (AFFC/Pettapiece Pedology).</p>
<p>See the full <a href="history.html">history</a>.</p>

<hr/>
<center>
<a href="contents-aafc_v4">Revert to version 4</a>
</center>