<h2>LSRS version 5</h2>

<p>LSRS version 5 is a production system that incorporates the calculation of climate indices and supports raster data processing.  Major new features and improvements incorporated into this release.  Version 5:</p>

<ol>
	<li>introduces Redis as a data store for climate data</li>
	<li>validates climate data, calculates climate indices, and store the calculated indices in Redis (to simplify access, performance, and reliability)</li>
	<li>reads climate indicies directly from Redis (to simplify use and eliminate a significant source of human errors)</li>
	<li>for most calculations:
		<ul>
			<li>generates ratings directly from configuration points instead of formulas (eliminates unintended effects that occured at climate extremes, and simplifies maintenance)</li>
			<li>generates documentation from the configuration points (to improve consistency and simplify deduction curve edits)</li>
		</ul>
	</li>
	<li>eliminates storage of historic runs (this was to support development of the formulas, but is no longer needed given the maturity of the system)</li>
	<li>changes access mechanism to REST (to support saving data for use in raster assessments)</li>
	<li>creates separate access for climate. and soil+ landscape ratings, and stores complete details separately (to improve performance in support of raster calculations)</li>
	<li>drops XSLT in favour of plain HTML for most human-readable outputs (to simplify maintenance)</li>
</ol> 
