<tr><th colspan="9">Landscape Rating</th></tr>
	<tr>
		<td></td>
		<td></td>
		<td>Final Landscape Rating (<i>c</i> - <i>d</i>) =</td>
		<td><%=@site.landscape.FinalRating%></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>Landscape Suitability =</td>
		<td colspan="2" class="Abbr"><b>Class <%=@site.landscape.SuitabilityClass%></b></td>
	</tr>