      <tr><td colspan="2"><hr/></td></tr>
      <tr>
        <td><b>Soil management</b>:</td>
        <td class="left">
					<input type="radio" name="Management" value="basic" checked="checked"/>unimproved | 
					<input type="radio" name="Management" value="improved" /> improved
        </td>
      </tr>