      <tr><td colspan="2"><hr/></td></tr>
      <tr>
        <td><b>Select a Climate Scenario</b>:</td>
        <td class="left">
          <select name="Climate" size="1">
            <%for climate in @climates do%>
            <option value="<%=climate[0][0..-5]%>"><%=climate[1]%></option>
            <%end%>
           </select>
        </td>
      </tr>