      <tr><td colspan="2"><hr/></td></tr>
      <tr>
        <td><b>Select a Crop</b>:</td>
        <td class="left">
          <select name="Crop" size="1">
            <%for crop in @crops do%>
            <option value="<%=crop.crop%>"><%=crop.Title_en%></option>
            <%end%>
           </select>
        </td>
      </tr>