<tr><th colspan="9">1) Aridity Factor</th></tr>
	<tr>
		<td>Moisture Deficit (P-PE) =</td>
		<td><%=@site.climate.PPE%></td>
		<td class="Abbr"></td>
		<td></td>
		<td></td>
		<td>deduction =</td>
		<td><%=@site.climate.aridity.A.ceil%></td>
		<td class="Abbr">(<b>A</b>)</td>
		<td class="Abbr"><a href="/lsrs5/documentation/climate/ppe/<%=@crop%>">more info</a></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>aridity rating =</td>
		<td><%=@site.climate.aridity.Rating.floor%></td>
		<td class="Abbr">(<i>a</i>)</td>
	</tr>