<tr><th colspan="9"></th></tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>basic rating (lower of <i>a</i> or <i>h</i>) =</td>
		<td><%=@site.climate.basic_rating.round(0)%></td>
		<td class="Abbr">(<i>b</i>)</td>
	</tr>