<tr><th colspan="9">Climate Rating</th></tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>final rating (<i>b</i> - <i>m</i>) =</td>
		<td><%=@site.climate.FinalRating.floor%></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Climate Suitability =</td>
		<td colspan="2" class="Abbr"><b>Class <%=@site.climate.suitability%></b></td>
	</tr>