<h1>LSRS 5 test page</h1>
<h3>params</h3>
<%=debug params%> 

<h3>crop</h3>
<%=debug @crop%> 

<br/>
<p>Check out ~/test/potatoes/potatoes.txt</p>
<br/>

<hr></hr>

<h3>name records</h3>
<%=debug @nameRecords%> 

<h3>deductions</h3>
<%=debug POTATO%> 

