<html>
<head><title>Arid200_10</title></head>
<body>
<b> Definition </b><br />
Average seasonal Aridity index (cm) for soil with 200 mm water-holding capacity, 10% probability level
<br /><br />
<b> Method of calculation </b><br />
The index is computed from the water deficit (PE-P) in a manner similar to that used by Sly and Coligado (1974).  Note that Aridity is in cm, water deficits are in mm.  A regression equation is used to compute Arid200-10 as follows:<br />
Arid200_10 = -7.11 + 0.13182*(Deficit5) – 0.00007854*(Deficit5)**2<br />
Note: Regression estimates should not be used for Deficit5 values that exceed 900mm.

</body>
</html>