<html>
<head><title>CHU2normal</title></head>
<body>
<b> Definition </b><br />
Average seasonal Crop (Corn) Heat Units (CHU)<br /><br />
<b> Method of calculation </b><br />
CHUnormal values are calculated from average daily maximum and minimum air temperatures as described by Brown and Bootsma (1993), and accumulated from Start_CHU to GDD2Stop (the average date of first fall frost (0ºC) estimated by the program as described in Appendix 2).
The GDD2Stop date corresponds closely to the date determined by ‘Stop_CHU’, and eliminates the need for determining accurate threshold temperatures for ending CHU accumulations for each region since it is calculated from the normals data.
</body>
</html>