<html>
<head><title>CHU80%</title></head>
<body>
<b> Definition </b><br />
Value of seasonally accumulated Crop (Corn) Heat Units (CHU) equaled or exceeded 80% of the time (i.e. 8 years out of 10)<br /><br />
<b> Method of calculation </b><br />
CHU2normal is adjusted using a regression equation that is specific for each region of Canada.  The equation is of the form:
             CHU80% = b0 + b1*CHU2normal
The constant (b0) and coefficient (b1) values must be entered in the input “threshold file” as input into the program.
Appropriate values have been developed for most regions as shown in Appendix 1.
However, these could be further refined in future.
The adjustment to CHU2normal has been calibrated with CHU values determined on an annual basis using daily climate data. 
For additional information, see Bootsma, 2008.
</body>
</html>