<html>
<head><title>CHUnormal</title></head>
<body>
<b> Definition </b><br />
Average seasonal Crop (Corn) Heat Units (CHU)<br /><br />
<b> Method of calculation </b><br />
CHUnormal values are calculated from average daily maximum and minimum air temperatures as described by Brown and Bootsma (1993), and accumulated from Start_CHU to Stop_CHU.  The CHU formula is the same for all regions of Canada.

However, the criteria for estimating the average start and end date for accumulating CHU over the average growing season vary from region to region. 
</body>
</html>