<html>
<head><title>DEFBarley</title></head>
<body>
<b> Definition </b><br />
Average water deficit (PE-P) for barley (mm)<br /><br />
<b> Method of calculation </b><br />
Sum of average daily values of Potential evapotranspiration minus Precipitation (PE-P) from GDD2Start to STOPBarley. 
If STOPBarley is later than GDD2Stop (estimated average date of first fall frost), then accumulation is stopped on GDD2Stop. 
PE is calculated using the Baier-Roberson formulae (Baier and Robertson, 1965; Baier, 1971) by default, or as selected by the user.
</body>
</html>