<html>
<head><title>Deficit5</title></head>
<body>
<b> Definition </b><br />
Average Potential evapotranspiration minus precipitation (PE-P) summed for positive values of PE-P only for period when Tmean>5°C as in GDDSUM1 (mm)
<br /><br />
<b> Method of calculation </b><br />
Sum of average daily PE-P for defined period. PE is calculated using the <a href ="/LSRS/downloads/input_desc/BR1.doc" target = "_blank">Baier-Roberson formulae</a> by default, or as selected by the user.   
</body>
</html>