<html>
<head><title>EGDD2Stop</title></head>
<body>
<b> Definition </b><br />
Average stopping date for accumulating EGDD2 (calendar day)
<br /><br />
<b> Method of calculation </b><br />
Day before the average date of the first fall frost (? 0?C) (FF).  
Since FF is not an input variable, it is estimated by using the procedure developed by Sly et al. (1971) (see Appendix 2).  
October 31 is set as the latest limit to the stop date as specified in original LSRS criteria.
</body>
</html>