<% content_for :title do %>Monthly input format<%end%>
<h1>Input Format for Monthly Climate Data</h1>

<p>The monthly climate normals data is loaded into LSRS using a custom file format that incorporates both documentation and climate data.  The file is divided into two sections.  The first section contains the documentation in YAML format, and the second section contains the data as a set of tab-separated values (TSV).  </p>

<h2>YAML documentation</h2>

<p>This section contains documentation in <a href="https://en.wikipedia.org/wiki/YAML">YAML format</a>, and includes the following fields: 
<table>
	<tr>
		<th align="right">Title:</th>
		<td>A short title for the dataset, which is used to populate pick lists in LSRS</td>
	</tr>
	<tr>
		<th align="right">Geography:</th>
		<td>A short string that defines the type of geographic data.  Must be one of climate stations ("stations"), GIS polygons ("polygons") or raster ("raster").</td>
	</tr>
	<tr>
		<th align="right">Framework:</th>
		<td>A short string that identifies the geographic framework of the dataset, (e.g. "dss_v3_yt" or "slc_v3r2_canada" or "Environment_Canada").</td>
	</tr>
	<tr>
		<th align="right">Timeframe:</th>
		<td>A short string identifying the time period for the dataset (e.g. "1961x1990").</td>
	</tr>
	<tr>
		<th align="right">Origin:</th>
		<td>A short string that identifies the climate model and related parameters used to generate the data (e.g. "canesm2_85"), or "Observations" for historical data.</td>
	</tr>
	<tr>
		<th align="right">Description:</th>
		<td>An full human-readable text description that fully describes the model / dataset.</td>
	</tr>
</table>
<i>Note that all strings should be enclosed in quotation marks.</i>
</p>

<h2>TSV data</h2>

<p>This section includes the climate data incorporated as the contents of a tab-separated values file.  The first line contains the column headers.  Each subsequent line represents the data for a separate location (a climate station or grid cell).  Columns definitions are as follows:</p>
<table>
	<tr>
		<th align="right">id:</th>
		<td>Station, polygon, or raster cell identifier.</td>
	</tr>
	<tr>
		<th align="right">long:</th>
		<td>Longitude (decimal degrees) (a negative value in the western hemisphere).</td>
	</tr>
	<tr>
		<th align="right">lat:</th>
		<td>Latitude (decimal degrees).</td>
	</tr>
	<tr>
		<th align="right">elev:</th>
		<td>Elevation (m).</td>
	</tr>
	<tr>
		<th align="right">tmax01..12:</th>
		<td>Monthly average maximum temperature (degrees C) where tmax01 is January and tmax12 is December.</td>
	</tr>
	<tr>
		<th align="right">tmin01..12:</th>
		<td>Monthly average minimum temperature (degrees C) from tmin01 is January and tmin12 is December.</td>
	</tr>
	<tr>
		<th align="right">ptot01..12:</th>
		<td>Monthly average total precipitation (mm) from ptot01 is January and ptot12 is December.</td>
	</tr>
</table>
</p>

<h2>Example</h2>
<p>An <a href="/schemas/climatemonthly/2.0/examples/monthly_climate_example.txt">example</a> is reproduced below:</p>
<pre>
<%=File.read("/production/schemas/climatemonthly/2.0/examples/monthly_climate_example.txt")%>
</pre>