<html>
<head><title>CHUAve</title></head>
<body>
<b> Definition </b><br />
Adjusted average seasonally accumulated Crop (Corn) Heat Units (CHU)<br /><br />
<b> Method of calculation </b><br />
CHU2normal is adjusted using a regression equation that is specific for each region of Canada.  The equation is of the form:<br />
           CHUAve = a0 + a1*CHU2normal<br />
The constant (a0) and coefficient (a1) values must be entered in the input threshold file as input into the program.
Appropriate values have been developed for most regions as shown in Appendix 1. 
However, these could be further refined in future.
The adjustment is needed so that the CHU values calculated from normals data corresponds closely to CHU values determined on an annual basis using daily climate.
For additional information, see Bootsma, 2008.

</body>
</html>