<html>
<head><title>Start_CHU</title></head>
<body>
<b> Definition </b><br />
Average date of start of CHU accumulations (calendar day)
which is not generally available from climatic normals) (days) <br /><br />
<b> Method of calculation </b><br />
Starting date is based on a threshold value of the mean daily air temperature (Tmean) that must be exceeded as defined by the user. 
Threshold temperatures estimate the average planting date of corn and presently vary from 8.8 to 12.7 ºC for different regions across Canada (see Appendix 1).
</body>
</html>