<html>
<head><title>STOPWheat</title></head>
<body>
<b> Definition </b><br />
Average maturity date estimated for wheat (calendar day)<br /><br />
<b> Method of calculation </b><br />
The stop date for wheat is estimated using the Biometeorological Time Scale (BMTS), which uses relationships between the rate of development in wheat and temperature and photoperiod. (Robertson, 1968).  If the stop date is later than GDD2Stop (indicating that maturity is not reached before frost), then ‘STOPWheat’ is set to  ‘-99’
</body>
</html>