<html>
<head><title>Stop_CHU</title></head>
<body>
<b> Definition </b><br />
Average date of end of CHU accumulations (calendar day) <br /><br />
<b> Method of calculation </b><br />
Stopping date is based on the date when the mean daily minimum air temperature (Tmin) drops below a threshold value as defined by the user.
Threshold temperatures estimate the 10% probability date of first fall freeze (-2ºC) and presently vary from 3.7 to 6.5 ºC for different regions across Canada (see Appendix 1).
</body>
</html>