<html>
<head><title>STOPBarley</title></head>
<body>
<b> Definition </b><br />
Average maturity date estimated for barley using the Biophotothemal Time Scale (BPTS) (calendar day)
<br /><br />
<b> Method of calculation </b><br />
The stop date for barley is estimated using the Biophotothemal Time Scale (BPTS), which uses relationships between the rate of development in barley and temperature and photoperiod (Williams, 1974). If the stop date is later than GDD2Stop (indicating that maturity is not reached before frost), then ‘STOPBarley’ is set to  ‘-99’
</body>
</html>