
<% content_for :title do %>LSRS Manual, Section 4.3<% end %>

<h1>4.3 Subsurface Factors</h1>

<ul>
  <li><a href="/documentation/Section4_3_1">4.3.1 Structure and consistence (D)</a></li>

</ul>

<h3>4.3.2 Non-conforming (geologic) layer (M)</h3>

<p>A non-conforming layer indicates a distinct change in geologic
material. This factor, like structure, consistence and bulk density, is important in terms
of water movement and retention, and root penetration. This factor has been restricted to
a strongly contrasting situation: gravel and sand underneath loam or finer. The following
table indicates the percent deduction for contrasting subsurface texture. <strong>Do not
use this table</strong> if Tables 4.12 and 4.13 have already been used.</p>
<font SIZE="2">

<p>&nbsp;</p>


<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="515">
  <tr>
    <td WIDTH="472" VALIGN="TOP" colspan="4"><b>Table 4.14 </b>-
    Percent deductions for depth to nonconforming subsurface textures in different climatic
    zones.</td>

  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">Depth to contact
    (cm)</td>
    <td WIDTH="398" VALIGN="TOP" colspan="3"><b>P&#151;PE</b></td>
  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">&nbsp;</td>

    <td WIDTH="137" VALIGN="TOP" align="center">-50<br>
    (perhumid)</td>
    <td WIDTH="137" VALIGN="TOP" align="center">-150<br>
    (humid)</td>
    <td WIDTH="138" VALIGN="TOP" align="center">-250<br>
    (subhumid)</td>

  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">100</td>
    <td WIDTH="137" VALIGN="TOP" align="center">0</td>
    <td WIDTH="137" VALIGN="TOP" align="center">0</td>
    <td WIDTH="138" VALIGN="TOP" align="center">0</td>
  </tr>

  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">50</td>
    <td WIDTH="137" VALIGN="TOP" align="center">0</td>
    <td WIDTH="137" VALIGN="TOP" align="center">30</td>
    <td WIDTH="138" VALIGN="TOP" align="center">50</td>
  </tr>
  <tr>

    <td WIDTH="89" VALIGN="TOP" align="center">20</td>
    <td WIDTH="137" VALIGN="TOP" align="center">30</td>
    <td WIDTH="137" VALIGN="TOP" align="center">60</td>
    <td WIDTH="138" VALIGN="TOP" align="center">90</td>
  </tr>
</table>

<p ALIGN="left">&nbsp;</p>

<p>&nbsp; </p>

<h3>4.3.3 Reaction (V)</h3>

<p ALIGN="JUSTIFY">Subsurface pH levels have the same kind of effects
on nutrient availability and plant growth but the impact will not be as severe as in the
surface layer (McKenzie and Nyborg, 1984). It was felt that the 20&#151;60 cm depth was
most critical and should serve as the basis for this factor. Also, this section considers
only acid soils as alkaline situations are covered under salinity or sodicity. Points are
deducted for subsurface acidity (Table 4.15) only if they are greater than the deduction
for surface acidity.</p>

<p>&nbsp;</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="425">
  <tr>
    <td WIDTH="411" VALIGN="TOP" colspan="2"><b><br>

    Table 4.15 </b>Percent deduction for subsurface acidity.1<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">Subsurface
    pH<sup>2</sup></td>
    <td WIDTH="308" VALIGN="TOP"><dir>
      <dir>

        <dir>
          <p>Percent deduction</p>
        </dir>
      </dir>
    </dir>
    </td>
  </tr>
  <tr>

    <td WIDTH="89" VALIGN="TOP" align="center">7.0</td>
    <td WIDTH="308" VALIGN="TOP">0</td>
  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">6.5</td>
    <td WIDTH="308" VALIGN="TOP">0</td>
  </tr>

  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">6.0</td>
    <td WIDTH="308" VALIGN="TOP">0</td>
  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">5.5</td>
    <td WIDTH="308" VALIGN="TOP">2</td>

  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">5.0</td>
    <td WIDTH="308" VALIGN="TOP">5</td>
  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">4.5</td>

    <td WIDTH="308" VALIGN="TOP">15</td>
  </tr>
  <tr>
    <td WIDTH="89" VALIGN="TOP" align="center">4.0</td>
    <td WIDTH="308" VALIGN="TOP">30</td>
  </tr>
  <tr>

    <td WIDTH="89" VALIGN="TOP" align="center">3.5</td>
    <td WIDTH="308" VALIGN="TOP">55</td>
  </tr>
  <tr>
    <td WIDTH="411" VALIGN="TOP" colspan="2">1For the 20 - 60 cm
    depth.<br>
    <sup>2</sup>Measured in saturated paste. Add 0.5 unit to pH values measured in 0.01 M
    CaCI2.</td>

  </tr>
</table>

<p ALIGN="JUSTIFY">&nbsp;</p>

<h3>4.3.4 Salinity (N)</h3>

<p ALIGN="JUSTIFY">A subsurface salinity deduction (Table 4.16) should
be made only if it is greater than the deduction for salinity of the surface.</p>
<font SIZE="2">

<p>&nbsp;</p>


<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="391">

  <tr>
    <td WIDTH="377" VALIGN="TOP" colspan="2"><b><br>
    Table </b>4.16 Percent deduction for subsurface salinity.<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="99" VALIGN="TOP"><i>EC(dS / m)<sup>1</sup></i></td>

    <td WIDTH="264" VALIGN="TOP">Percent
    deduction</td>
  </tr>
  <tr>
    <td WIDTH="99" VALIGN="TOP"><i>&lt;4</i></td>
    <td WIDTH="264" VALIGN="TOP">0</td>
  </tr>
  <tr>

    <td WIDTH="99" VALIGN="TOP">4</td>
    <td WIDTH="264" VALIGN="TOP">10</td>
  </tr>
  <tr>
    <td WIDTH="99" VALIGN="TOP">8</td>
    <td WIDTH="264" VALIGN="TOP">20</td>
  </tr>

  <tr>
    <td WIDTH="99" VALIGN="TOP">12</td>
    <td WIDTH="264" VALIGN="TOP">40</td>
  </tr>
  <tr>
    <td WIDTH="99" VALIGN="TOP">16</td>
    <td WIDTH="264" VALIGN="TOP">70</td>

  </tr>
  <tr>
    <td WIDTH="377" VALIGN="TOP" colspan="2"><sup>1</sup>Measured
    in saturation extract.</td>
  </tr>
</table>
<font SIZE="2">

<p>&nbsp;</p>


<p>&nbsp; </p>

<h3>4.3.5 Sodicity (Y) (recommended only for reconstructed soils)</h3>

<p ALIGN="JUSTIFY">A deduction for subsurface sodicity (as measured by
SAR) is used <strong>only</strong> if it<font SIZE="1"><b> </b>is more limiting
than that for surface sodicity. As with the surface evaluation, this factor should not be
used for soils with a texture coarser than loam. The average SAR for the 20 - 1 00 cm
depth is considered in determining subsurface SAR.</p>

<p ALIGN="JUSTIFY">To avoid excess deduction of points for related soil
parameters, point deductions are made for SAR <strong>only</strong> if the limitation is
more severe than the subsurface salinity limitation (see section on salinity). Table 4.17
indicates the percent point deductions for the various sodicity (SAR) classes.</p>

<p>&nbsp;</p>
<font SIZE="2">

<p>&nbsp;</p>


<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="520" height="420">
  <tr>
    <td WIDTH="506" VALIGN="TOP" colspan="3" height="59"><b><br>
    Table </b>4.17 Percent deduction for subsurface sodicity<sup>1</sup><br>

    </td>
  </tr>
  <tr>
    <td VALIGN="TOP" align="center" height="60">Sodicity<br>
    (SAR)<sup>2</sup></td>
    <td VALIGN="TOP" align="center" height="60"><sup>Saturation
    percent </sup><br>
    (Sat %)3</td>

    <td VALIGN="TOP" align="center" height="60"><dir>
      <p>Percent deduction</p>
    </dir>
    </td>
  </tr>
  <tr>
    <td class="mid">4</td>
    <td class="mid">60</td>
    <td class="mid">0</td>
  </tr>
  <tr>
    <td class="mid">8</td>
    <td class="mid">80</td>
    <td class="mid">10</td>
  </tr>

  <tr>
    <td class="mid">12</td>
    <td class="mid">120</td>
    <td class="mid">30</td>
  </tr>
  <tr>
    <td class="mid">16</td>
    <td class="mid">160</td>
    <td class="mid">50</td>
  </tr>
  <tr>
    <td class="mid">20</td>
    <td class="mid">160</td>
    <td class="mid">80</td>
  </tr>
  <tr>
    <td colspan="3">
      <sup>1</sup> If points are deducted for SAR do not also deduct for pH and salinity.<br>
      <sup>2</sup>SAR = Sodium Adsorption Ratio (see glossary for definition).<br>
      <sup>3</sup>Saturation percenlage may be used as a proxy for SAR.</td>
  </tr>
</table>

<p>&nbsp;</p>




