
<% content_for :title do %>LSRS Manual, Section 4.2.3<% end %>


<p>&nbsp;</p>

<h3 ALIGN="left">5.4 Subsurface Factors</h3>

<p ALIGN="JUSTIFY">Subsurface factors are considered as modifiers of
the surface (base) rating and as such are handled as percentage reductions. The maximum
depth considered is 120 cm. A weighted average is performed based on horizon depth. This
is 20 cm greater than for mineral soils because of the deeper surface horizon defined to
recognize subsidence in these soils. Four factors are recognized in this category:<br>
- structure (degree of decomposition)<br>
- depth of deposit and kind of substrate<br>
- reaction<br>
- salinity</p>



<p>&nbsp;</p>



