<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h3><b>Water Supplying Capacity / Climate Deduction  (m1)</b></h3>

<p>All peats hold a large amount of water at saturation
but the availability of that water varies markedly with material characteristics. The low
density, fibric types, with large pore spaces, drain very quickly under gravity and can
become droughty under conditions of climatic moisture deficit. The denser, humic peats, on
the other hand, drain very slowly and are subject to waterlogging under humid conditions. </p>

<p>Table 5.3 was developed using these general relationships.</p>

<p>&nbsp;</p>


<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
  <tr>
    <td WIDTH="791" VALIGN="TOP" COLSPAN="10"><p ALIGN="left"><strong><br>
    Table 5.3</strong> - Point deductions for combinations of water holding capacity and
    regional climate for organic soils.<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">Climate<br>
    P-PE</td>
    <td WIDTH="147" VALIGN="TOP">Surface<br>
    </td>
    <td WIDTH="118" VALIGN="TOP" colspan="2">fibric<br>
    </td>
    <td WIDTH="83" VALIGN="TOP">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2">mesic</td>
    <td WIDTH="83" VALIGN="TOP">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2">humic</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="147" VALIGN="TOP">Fibre content (1)<br>
    von Post scale<br>
    bulk density (2)</td>
    <td WIDTH="91" VALIGN="TOP" align="center">80<br><br>
    1&nbsp;&nbsp;&nbsp;&nbsp; 2<br><br>
    0.04</td>
    <td WIDTH="74" VALIGN="TOP" align="center">60<br><br>
      3<br><br>
      0.07</td>
    <td WIDTH="83" VALIGN="TOP" align="center">40<br><br>
    4<br><br>
    0.10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">30<br><br>
    5<br><br>
    0.13</td>
    <td WIDTH="83" VALIGN="TOP" align="center">20<br><br>
    6<br><br>
    0.16</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10<br><br>
      7<br><br>
      0.18</td>
    <td WIDTH="83" VALIGN="TOP" align="center">5<br><br>
    8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9<br><br>
    0.20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0<br><br>
    10<br><br>
    0.22</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">-250</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">40</td>
    <td WIDTH="74" VALIGN="TOP" align="center">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">5</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">-200</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">35</td>
    <td WIDTH="74" VALIGN="TOP" align="center">25</td>
    <td WIDTH="83" VALIGN="TOP" align="center">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">5</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">-150</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">30</td>
    <td WIDTH="74" VALIGN="TOP" align="center">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">5</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">-100</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">25</td>
    <td WIDTH="74" VALIGN="TOP" align="center">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center">5</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">-50</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">20</td>
    <td WIDTH="74" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">0</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">15</td>
    <td WIDTH="74" VALIGN="TOP" align="center">5</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP">+50</td>
    <td WIDTH="147" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center">5</td>
    <td WIDTH="74" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="665" VALIGN="TOP" colspan="10"><br>
    (1) % rubbed fibre &gt;0.15 mm.<br>
    (2) BuIk density in Mg/cubic m.<br>
    </td>
  </tr>
</table>

<p>The equation used to calculate the values in the Table 5.3 is as follows:</p>

<table border="1" width="100%">
  <tbody><tr>
    <td width="100%"><strong>Table 5.3 Implementation - Water Holding
    Capacity Point Deduction.</strong><p>Point
    Deduction = ( 40 * (SurfaceFibre / 80 ) ) - ( ( ( 250 + (P-PE) ) / 50 ) * 5 )</p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="100%">COMMENTS:<ul>
      <li>This deduction is for <u>Moisture Deficit</u>.</li>
      <li>Deduction must be between 0 and 100.</li>
    </ul>
    </td>
  </tr>
</tbody></table>


<p>&nbsp;</p>


<%= render :partial => "clf3" %>