

<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>


<h1>Section 6 &#150; LANDSCAPE FACTORS</h1>


<p>The landscape rating is based on limitations generally related to management such as
the ease of use of farm machinery, the uniformity of growth and maturity of crops and the
risk of losing topsoil by either erosion or cultivation. It is calculated by first
assessing an initial rating based largely on the steepness of slopes and, to a lesser
extent, on slope length. The basic rating is then modified, as appropriate, to recognize
such factors as field pattern. stoniness, and flooding risk, to arrive at the final
landscape rating.</p>

<p>&nbsp;</p>

<h3>Calculating Basic Landscape Rating</h3>

1) Determine Region - click on (<a href="/documentation/Section6_1_01">rn</a>) <br>
2) Determine Landscape Type - click on (<a href="/documentation/Section6_1_02">lt</a>)  <br>
3) Calculate point dection using one of 3 graphs - click on (<a href="/documentation/Section6_1">T</a>)  <br>
4) Basic Landscape rating is 100 - (T)




<p>&nbsp;</p>


<%= render :partial => "clf3" %>

