
<% content_for :title do %>LSRS Manual, Section 4.2.3<% end %>



<h1><font FACE="Arial" size="5">Region Number</font></h1>


<p>Since the initial landscape rating is based in part on water erosion risk, which is
climate dependent, two broad regions based on rainfall erosivity (Wischmeyer and Smith,
1965) have been established (LSRS Manual Fig. 6.1). Given the same kind of landscape, the
erosion risk will be higher in the more humid parts of the country (Region 1) than in the
drier areas (Region 2).</p>

<table border="1" width="100%">
  <tr>
<p><img src="/images/Section6_Figure1a.gif" alt="Section6_Figure1a.gif (17436 bytes)"
border="1" width="715" height="491"></p>
</tr>
</table>

<p>&nbsp;</p>




