<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h3>Moisture Deficit Deduction (M)</h3>
<br>

<p>  M = (m1) + (m2)  </p>

<p>&nbsp;</p>


<%= render :partial => "clf3" %>