
<% content_for :title do %>LSRS Manual, Section 5_5_2<% end %>


<p>&nbsp;</p>

<h3 ALIGN="JUSTIFY">5.5.2  Drainage Deduction (W)  calculation</h3>

<p>  Drainage Deduction =  Drainage deduction %  X   Interim Final Rating (d) </p>




<p>&nbsp;</p>



