<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h2>5.3&nbsp;&nbsp;&nbsp; Surface Factors </h2>

<p>The top 40 cm of compacted peat is considered for the base rating. This is 20 cm more
than for mineral soils in recognition of the settlement and mineralization that
takes place in organic soils. Even at a rate of 1 cm a year the modification is
substantial. Three factors are rated for their contribution to seed establishment, crop
growth and management. These are;<br>
<br>
- structure and consistence (fibre content)<br>
- reaction and nutrient status<br>
- salinity</p>

<p>&nbsp;</p>




<p>&nbsp;</p>



<%= render :partial => "clf3" %>