
<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>



<h3>6.2.3 Landscape pattern (K)</h3>
</font><font FACE="Arial" SIZE="3">

<p>This factor accounts for limitations due to contrasting soil areas within the
landscape, including both contrasting arable soils that are limiting in terms of the
timing of seeding and harvesting operations, herbicide and fertilizer applications, etc.
and non arable obstacles such as sloughs, creeks and streams, rock outcrops, power poles
or thermokarst micro-topography which impede normal field operations.</p>

<p>The landscape pattern limitation is applicable where the degree of variability is
abnormally high for a particular type of landscape. The normal degree of variability that
is inherent in most landscapes, particularly those having relatively steep slopes or
characterized by hummocky or ridged surface forms, has already been factored Into the
initial landscape rating.</p>

<p>The landscape pattern deduction is applied as a <u>percentage</u> of the initial
landscape rating.</p>

<p>The precise degree of limitation varies substantially from region to region depending
upon the type, size and shape of the contrasting soil areas in relation to field-size and
the type of machinery used. Specific deductions will need to be developed in each region.
For contrasting arable soils, a maximum deduction of about 25% is suggested; for non
arable obstacles, a maximum deduction of up to 80% may be warranted</p>

<p>&nbsp;</p>


<p>&nbsp;</p>

<%= render :partial => "clf3" %>


