
<% content_for :title do %>LSRS Manual, Section 4.2.3<% end %>


<p>&nbsp;</p>

<h3 ALIGN="JUSTIFY">Final Sub-Surface Deduction (ssf) : calculation</h3>

<p>1.  Determine higher value between (V) and (N) and add this to (B) and (G) to get Sub-Surface Factors deduction,
which is expressed as a percentage</p>

<p>2.  Final Sub-Surface Deduction =  Sub-Surface Factors deduction %  X   Basic Organic Rating (c) </p>


<p>&nbsp;</p>



