
<% content_for :title do %>LSRS Manual, Section 5_5<% end %>


<p>&nbsp;</p>

<h3 ALIGN="JUSTIFY">5.5  Drainage Factor</h3>

<p>As in the case of mineral soils, drainage is considered as
a modifier of the main rating and is therefore managed as a percent deduction. There are
three main aspects:<br>
- depth to water table<br>
- hydraulic conductivity<br>
- regional climate.</p>


<p>&nbsp;</p>



