<%= render :partial => "/lsrs/clf1" %>
<title>LSRS Manual, Section 3.2</title>
<%= render :partial => "/lsrs/clf2" %>


 <h3>EGDD = effective growing degree days</h3>

<p>Growing degrees days are accumulated beginning 10 days after the
average date when the mean daily temperature reaches 5 degrees C
(April 1 being the earliest possible starting date). This approximates
date of seeding. The end of the growing season is represented by the average
date of the first frost after July 15 (October 31 being the latest possible end date). GDDs are
calculated from the average mean daily air temperatures computed from monthly normal values.</p>

<p>The GDD value is adjusted to recognize the effect of the longer day length in the
north (Alberta Soils Advisory Committee, 1987).  The value of the modification
varies from 0% at 49 degrees N to 18% at 64 degrees N latitude. The adjusted value is 
considered to be the Effective GDD (EGDD).</p>



<%= render :partial => "/lsrs/clf3" %>