
<% content_for :title do %>LSRS Manual, Section 3.2<% end %>



 <h3>(h2) - Temperature Deduction</h3>

<p> Deduction points for (h2) are derived from the GSL (growing season length) value.
This number is used in the equation below which was derived using critical cut-off points for spring-seeded small grains.




