
<% content_for :title do %>LSRS Manual, Section 4.2.3<% end %>


<p>&nbsp;</p>

<h3>Fibre</h3>

<p>&nbsp;</p>

<p>The organic equivalent to particle size distribution
is fibre content and the &quot;textures&quot; of peats is expressed as fibric (a lot of
fibre), mesic or humic (very little fibre) (ECSS, 1987). Fibre content relates closely to
packing or bulk density (Boelter, 1974) which is a key parameter in water movement and
other management factors and will often be used as a proxy for density, recognizing that a
good deal of variability can be expected. Also, fibre content is often used as a measure
of degree of decomposition. In general, a very fibric material with large air spaces acts
very much like a coarse sand and the low fibre peats act somewhat like clays with respect
to water movement (Paivanen, 1973). Those peats with no fibre often pose special
management problems in terms of both water movement and mechanical issues (Lucas, 1982).
The basic correlations between fibre content, bulk density and water aspects as used in
this procedure are given in Appendix A (Table A.3).</p>

<p>It is recognized that the source of organic
material, whether sphagnum, sedge or woody peat, may influence many of the critical
properties. However, the vegetation source is not specifically dealt with in this
preliminary procedure beyond the common relationships to such aspects as fibre content and
reaction. Another characteristic of peats is the compaction which follows drainage and
cultivation. This makes depth comparisons based on undeveloped conditions somewhat
difficult. For consistency, it is suggested that a &quot;compacted&quot; depth be used as
a standard reference. The following table (Table 5.1) presents some general guidelines for
assessing settlement of peat materials.</p>

<p>&nbsp;</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="513">
  <tr>
    <td WIDTH="462" VALIGN="TOP" colspan="3"><font face="Arial">Table 5.1 - Approximate
    settlement of different peat materials.</font></td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP"><font face="Arial">Relative density (Mg/rn<sup>3</sup>)</font></td>
    <td WIDTH="154" VALIGN="TOP"><p align="center"><font face="Arial">Degree of decomposition <br>
    (fibre content)</font></td>
    <td WIDTH="194" VALIGN="TOP" align="center"><font face="Arial">Approximate settlement</font></td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP"><font face="Arial">very loose<br>
    (&lt;0.07)</font></td>
    <td WIDTH="154" VALIGN="TOP" align="center"><font face="Arial">fibric</font></td>
    <td WIDTH="194" VALIGN="TOP" align="center"><font face="Arial">40%</font></td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP"><font face="Arial">loose<br>
    (0.07&#151;0.10)</font></td>
    <td WIDTH="154" VALIGN="TOP" align="center"><p ALIGN="CENTER"><font face="Arial">fibric -
    mesic</font></td>
    <td WIDTH="194" VALIGN="TOP" align="center"><font face="Arial">30%</font></td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP"><font face="Arial">rather dense<br>
    (0.10&#151;0.18)</font></td>
    <td WIDTH="154" VALIGN="TOP" align="center"><font face="Arial">mesic</font></td>
    <td WIDTH="194" VALIGN="TOP" align="center"><font face="Arial">20%</font></td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP"><font face="Arial">dense<br>
    (&gt;0.18)</font></td>
    <td WIDTH="154" VALIGN="TOP" align="center"><font face="Arial">humic</font></td>
    <td WIDTH="194" VALIGN="TOP" align="center"><font face="Arial">15%</font></td>
  </tr>
</table>

<p>&nbsp;</p>



