

<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>


<h1><font FACE="Arial" size="5">Landscape Type</font></h1>
<font FACE="Arial" SIZE="3">

<p>Based on the knowledge that landscapes with short, complex slopes are, given the same
slope gradient, considered a more serious management limitation than those having simple
but somewhat longer slopes, two landscape types are recognized; Simple and Complex. These landscape types can
be generally related to the surface expression or landform as defined in the Canadian
System of Soil Classification (ECSS, 1987) (LSRS Manual Table 6.1).</p>

<p>&nbsp;</p>


<table border="1" width="53%">
  <tr>
    <td width="100%" colspan="6"><font FACE="Arial" SIZE="3"><br>
    LSRS Table 6.1 - General relationship between landscape type, surface expression and slope
    length.<br>
    </font></td>
  </tr>
  <tr>
    <td width="20%" align="center"><font FACE="Arial" SIZE="3">Landscape Type</font></td>
    <td width="20%" align="center"><font FACE="Arial" SIZE="3">Surface Expression</font></td>
    <td width="20%" align="center"><font FACE="Arial" SIZE="3">Slope Type</font></td>
    <td width="20%" align="center"><font FACE="Arial" SIZE="3">Slope Length</font></td>
    <td width="20%" align="center"><font FACE="Arial" SIZE="3">Managment Limitation</font></td>
  </tr>
  <tr>
    <td width="20%"><font FACE="Arial" SIZE="3">Simple</font></td>
    <td width="20%"><font FACE="Arial" SIZE="3">undulating<br>
    level<br>
    fan<br>
    inclined<br>
    rolling</font></td>
<td width="20%"> simple</td>
<td width="20%">long  &gt; 100 m</td>
<td width="20%">less serious</td>
  </tr>
  <tr>
    <td width="20%"><font FACE="Arial" SIZE="3">Complex</font></td>
    <td width="20%"><font FACE="Arial" SIZE="3">undulating<br>
    hummocky<br>
    ridged</font></td>
    <td width="20%">complex</font></td>
    <td width="20%">short&lt; 100 m</font></td>
     <td width="20%">more serious</font></td>
  </tr>
  <tr>
    <td width="100%" colspan="6">&nbsp;</td>
  </tr>
</table>




<p>&nbsp;</p>


<%= render :partial => "clf3" %>

