
<% content_for :title do %>LSRS Manual, Section 4.2.1<% end %>

<h1>4.2.1 Structure and consistence (D)</h1>

<p style='background:white'><span style='font-size:9.5pt;font-family:Arial;
color:black'>Soil structure, the size, shape and arrangement of aggregates and
voids, affects infiltration and transmission of water, aeration and
workability, root penetration and seedling emergence. It is commonly related to
soil texture and organic matter content and to soil management. Associated
physical properties are consistence and bulk density. General relationships
among structure, consistence, texture, bulk density and limitations of soil as
a medium for plant growth are described more fully in Appendix A. Because
management can markedly modify surface soil features in cultivated soils, the
maximum deduction is set at<span class=apple-converted-space><span
style='font-family:Arial'>&nbsp;</span></span><strong><span style='font-family:
Arial'>10 points</span></strong><span class=apple-converted-space><span
style='font-family:Arial'>&nbsp;</span></span>(Table 4.5). When combined with
organic matter content (4.2.2) and depth of topsoil (4.2.3) the <b
style='mso-bidi-font-weight:normal'>maximum possible is 45 points.</b><o:p></o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=1 cellpadding=0 width="56%"
 style='width:56.0%;mso-cellspacing:1.5pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width="100%" colspan=3 style='width:100.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span style='font-family:Arial'><br>
  </span></b><strong><span style='font-size:12.5pt;font-family:Arial'>Table 4.5
  - Point deductions for surface soil structure and consistence.<sup>1</sup></span></strong><span
  style='font-size:12.5pt'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>Structure</span><o:p></o:p></p>
  </td>
  <td width="34%" style='width:34.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>Consistence<br>
  Moist / Dry</span><o:p></o:p></p>
  </td>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>Point Deduction</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>Granular, <span
  class=SpellE>subangular</span> or fine blocky</span><o:p></o:p></p>
  </td>
  <td width="34%" style='width:34.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>friable<br>
  slightly hard</span><o:p></o:p></p>
  </td>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>0</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3'>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>Blocky or platy single
  grained</span><o:p></o:p></p>
  </td>
  <td width="34%" style='width:34.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>firm / hard<br>
  loose / loose</span><o:p></o:p></p>
  </td>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>5</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>Massive</span><o:p></o:p></p>
  </td>
  <td width="34%" style='width:34.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>very firm / very hard</span><o:p></o:p></p>
  </td>
  <td width="33%" style='width:33.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-family:Arial'>10</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5;mso-yfti-lastrow:yes'>
  <td width="100%" colspan=3 style='width:100.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-size:9.5pt;font-family:Arial'>Notes:<br>
  <sup>1</sup><span class=apple-converted-space><span style='font-family:Arial'>&nbsp;</span></span>For
  peaty surfaces see section on organic surface factor</span><span
  style='font-size:9.5pt'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='background:white'><span style='font-size:9.5pt;
font-family:Verdana;color:black'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=1 cellpadding=0 width="100%"
 style='width:100.0%;mso-cellspacing:1.5pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width="68%" style='width:68.0%;padding:.75pt .75pt .75pt .75pt'>
  <h4><strong><span style='font-size:12.5pt;font-family:Arial'>Table 4.5
  Implementation - Point Deduction for</span></strong><span
  class=apple-converted-space><span style='font-size:12.5pt;font-family:Arial'>&nbsp;</span></span><span
  style='font-size:12.5pt;font-family:Arial'>Surface Structure</span><span
  style='font-size:12.5pt'><o:p></o:p></span></h4>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td width="100%" style='width:100.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span style='font-family:Arial'><br>
  </span></b><strong><span style='font-family:Arial;font-weight:normal;
  mso-bidi-font-weight:bold'>if %OC &gt; 2.5 then</span></strong><span
  class=apple-converted-space><b><span style='font-family:Arial'>&nbsp;</span></b></span><b><span
  style='font-family:Arial'><br>
  </span></b><strong><span style='font-family:Arial;font-weight:normal;
  mso-bidi-font-weight:bold'>&nbsp;&nbsp;&nbsp;&nbsp; Deduction = 0</span></strong><b
  style='mso-bidi-font-weight:normal'><o:p></o:p></b></p>
  <p><strong><span style='font-family:Arial;font-weight:normal;mso-bidi-font-weight:
  bold'>if (0 &lt;= %OC &lt; 2.5) then</span></strong><span
  class=apple-converted-space><b><span style='font-family:Arial'>&nbsp;</span></b></span><b><span
  style='font-family:Arial'><br>
  </span></b><strong><span style='font-family:Arial;font-weight:normal;
  mso-bidi-font-weight:bold'>&nbsp;&nbsp;&nbsp;&nbsp; Deduction = (2.5 / %OC) +
  ((%S - 60)/3 * %OC) + ((%Si - 50) / %OC) + ((%C - 50) / SQRT(%OC))</span></strong><b><span
  style='font-family:Arial'><br>
  </span></b><span style='font-family:Arial'>&nbsp;&nbsp;<span
  class=apple-converted-space><span style='font-family:Arial'>&nbsp;</span></span></span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;mso-yfti-lastrow:yes'>
  <td width="100%" style='width:100.0%;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><span style='font-size:9.5pt;font-family:Arial'>COMMENTS:</span><span
  style='font-size:9.5pt'><o:p></o:p></span></p>
  <ul type=disc>
   <li class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
       auto;mso-list:l1 level1 lfo3;tab-stops:list 36.0pt'><span
       style='font-size:9.5pt;font-family:Arial'>Table 4.5 is realized using
       %OC, %S, and %C.</span><span style='font-size:9.5pt'><o:p></o:p></span></li>
   <li class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
       auto;mso-list:l1 level1 lfo3;tab-stops:list 36.0pt'><span
       style='font-size:9.5pt;font-family:Arial'>%S, %Si, %C, and %OC are all
       averaged for depth 0-20cm (surface zone).</span><span style='font-size:
       9.5pt'><o:p></o:p></span></li>
   <li class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
       auto;mso-list:l1 level1 lfo3;tab-stops:list 36.0pt'><span
       style='font-size:9.5pt;font-family:Arial'>None of the terms can be negative
       (if negative then set to 0).</span><span style='font-size:9.5pt'><o:p></o:p></span></li>
   <li class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
       auto;mso-list:l1 level1 lfo3;tab-stops:list 36.0pt'><span
       style='font-size:9.5pt'>This factor uses texture and organic matter
       content as a proxy for structure that is not present in all databases.</span><o:p></o:p></li>
  </ul>
  </td>
 </tr>
</table>

<p class=MsoNormal style='background:white'><span style='font-size:9.5pt;
font-family:Verdana;color:black'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='background:white'><span lang=EN style='font-size:
9.5pt;font-family:Verdana;color:black;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="99%"
 style='width:99.8%;border-collapse:collapse'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:12.75pt'>
  <td width="100%" style='width:100.0%;border:solid #999999 1.0pt;mso-border-alt:
  solid #999999 .75pt;background:white;padding:4.55pt 7.6pt 4.55pt 7.6pt;
  height:12.75pt'>
  <p class=MsoNormal><span style='font-size:9.5pt;font-family:Verdana;
  color:black'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:12.75pt'>
  <td width="100%" style='width:100.0%;border:solid #999999 1.0pt;border-top:
  none;mso-border-top-alt:solid #999999 .75pt;mso-border-alt:solid #999999 .75pt;
  background:white;padding:4.55pt 7.6pt 4.55pt 7.6pt;height:12.75pt'>
  <p class=MsoNormal><span style='font-size:9.5pt;font-family:Verdana;
  color:black'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;mso-yfti-lastrow:yes;height:12.75pt'>
  <td width="100%" style='width:100.0%;border:solid #999999 1.0pt;border-top:
  none;mso-border-top-alt:solid #999999 .75pt;mso-border-alt:solid #999999 .75pt;
  background:white;padding:4.55pt 7.6pt 4.55pt 7.6pt;height:12.75pt'>
  <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
  style='font-size:9.5pt;font-family:Verdana;color:black'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
</table>

<p>&nbsp;</p>



