<%= render :partial => "/lsrs/clf1" %>
<title>LSRS Manual, Section 3.2</title>
<%= render :partial => "/lsrs/clf2" %>


 <h3>GSL = growing season length</h3>

<p>Growing season length is the number of days in which crops are grown. The first day starts
10 days after the average date when the mean daily temperature reaches 5 degrees C
(April 1 being the earliest possible starting date). This approximates the date of seeding.
The last day the growing season is represented by the average date of the first
frost after July 15 (October 31 being the latest possible end date).</p>

<%= render :partial => "/lsrs/clf3" %>