
<% content_for :title do %>LSRS Manual, Section 3.2<% end %>




<h3>Temperature Deduction (H)</h3>

<p>The temperature deduction value (H) is the larger of two point deduction values; (h1) or (h2).  
(h1) is calculated from an equation that uses EGDD (effective growing degree days).
(h2) is calculated from an equation that uses GSL (growing season length) .</p>




