<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 5_5_1</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h3 ALIGN="JUSTIFY">5.5.1  Drainage Deduction % (w1)</h3>

<p>Organic soils are characterized by excess water in
their natural state. However, uncontrolled drainage can lead to drought, high rates of
subsistence, potential physical damage to the soil and increased erosion (and fire)
hazard. The ratings (Tables 5.11 to 5.13) focus on the continuing limitation rather than
the difficulty of development.</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
  <tr>
    <td WIDTH="791" VALIGN="TOP" COLSPAN="10" height="57"><p ALIGN="left"><b><br>
    Table 5.12 </b>- Percent deduction for drainage in regions with P-PE less negative than
    -100 mm (perhumid).<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="36">Depth to water table (cm) (1)</td>
    <td WIDTH="147" VALIGN="TOP" height="36">Subsurface<br>
    </td>
    <td WIDTH="118" VALIGN="TOP" colspan="2" height="36"><p align="center">fibric<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p align="center">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">mesic</td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p ALIGN="CENTER">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">humic</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="54">&nbsp;</td>
    <td WIDTH="147" VALIGN="TOP" height="54">% fibre (2)<br>
    von Post scale<br>
    hydr. cond. (3)</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="54">80<br>
    1&nbsp;&nbsp;&nbsp;&nbsp; 2<br>
    50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="54">60<br>
    3<br>
    15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54"><p ALIGN="CENTER"><font
    face="Arial">40<br>
    4<br>
    5.0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54"><p ALIGN="CENTER"><font
    face="Arial">30<br>
    5<br>
    1.5</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">20<br>
    6<br>
    0.5</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">10<br>
    7<br>
    0.15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">5<br>
    8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">0<br>
    10<br>
    0.015</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="21">standing water</td>
    <td WIDTH="147" VALIGN="TOP" height="21">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">100</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">90</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">95</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">100</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">25</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">75</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">80</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">85</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">85</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">50</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">55</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">60</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">65</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">75</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">25</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">35</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">40</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">100</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">5</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">125</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
  </tr>
  <tr>
    <td WIDTH="665" VALIGN="TOP" colspan="10" height="96"><br>
    (1) For the most limiting 20 day period.<br>
    (2) % rubbed fibre &gt;0.15 mm.<br>
    (3) Hydraulic conductivity in cm/hr.<br>
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<hr>

<p>&nbsp;</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
  <tr>
    <td WIDTH="791" VALIGN="TOP" COLSPAN="10" height="57"><p ALIGN="left"><b><br>
    Table 5.13 </b>- Percent deduction for drainage in regions with P-PE between -100 mm and
    -200 (humid).<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="36">Depth to water table (cm) (1)</td>
    <td WIDTH="147" VALIGN="TOP" height="36">Subsurface<br>
    </td>
    <td WIDTH="118" VALIGN="TOP" colspan="2" height="36"><p align="center">fibric<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p align="center">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">mesic</td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p ALIGN="CENTER">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">humic</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="54">&nbsp;</td>
    <td WIDTH="147" VALIGN="TOP" height="54">% fibre (2)<br>
    von Post scale<br>
    hydr. cond. (3)</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="54">80<br>
    1&nbsp;&nbsp;&nbsp;&nbsp; 2<br>
    50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="54">60<br>
    3<br>
    15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54"><p ALIGN="CENTER"><font
    face="Arial">40<br>
    4<br>
    5.0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54"><p ALIGN="CENTER"><font
    face="Arial">30<br>
    5<br>
    1.5</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">20<br>
    6<br>
    0.5</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">10<br>
    7<br>
    0.15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">5<br>
    8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">0<br>
    10<br>
    0.015</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="21">standing water</td>
    <td WIDTH="147" VALIGN="TOP" height="21">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">100</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">90</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">90</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">95</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">100</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">25</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">65</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">70</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">75</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">80</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">50</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">40</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">45</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">50</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">75</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">5</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">100</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">125</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
  </tr>
  <tr>
    <td WIDTH="665" VALIGN="TOP" colspan="10" height="96"><br>
    (1) For the most limiting 20 day period.<br>
    (2) % rubbed fibre &gt;0.15 mm.<br>
    (3) Hydraulic conductivity in cm/hr.<br>
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<hr>

<p>&nbsp;</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
  <tr>
    <td WIDTH="791" VALIGN="TOP" COLSPAN="10" height="57"><p ALIGN="left"><b><br>
    Table 5.14 </b>- Percent deduction for drainage in regions with P-PE more negative than
    -200 mm (subhumid).<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="36">Depth to water table (cm) (1)</td>
    <td WIDTH="147" VALIGN="TOP" height="36">Subsurface<br>
    </td>
    <td WIDTH="118" VALIGN="TOP" colspan="2" height="36"><p align="center">fibric<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p align="center">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">mesic</td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p ALIGN="CENTER">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">humic</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="54">&nbsp;</td>
    <td WIDTH="147" VALIGN="TOP" height="54">% fibre (2)<br>
    von Post scale<br>
    hydr. cond. (3)</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="54">80<br>
    1&nbsp;&nbsp;&nbsp;&nbsp; 2<br>
    50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="54">60<br>
    3<br>
    15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54"><p ALIGN="CENTER"><font
    face="Arial">40<br>
    4<br>
    5.0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54"><p ALIGN="CENTER"><font
    face="Arial">30<br>
    5<br>
    1.5</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">20<br>
    6<br>
    0.5</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">10<br>
    7<br>
    0.15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">5<br>
    8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">0<br>
    10<br>
    0.015</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="21">standing water</td>
    <td WIDTH="147" VALIGN="TOP" height="21">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">100</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">100</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">80</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">85</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">90</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">100</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">25</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">60</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">65</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">75</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">50</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">20</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">35</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">40</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">75</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">15</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">100</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">125</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">0</td>
  </tr>
  <tr>
    <td WIDTH="665" VALIGN="TOP" colspan="10" height="96"><br>
    (1) For the most limiting 20 day period.<br>
    (2) % rubbed fibre &gt;0.15 mm.<br>
    (3) Hydraulic conductivity in cm/hr.<br>
    </td>
  </tr>
</table>



<p>&nbsp;</p>


<%= render :partial => "clf3" %>