
<% content_for :title do %>LSRS Manual, Section 4.2.3<% end %>


<p>&nbsp;</p>

<h3 ALIGN="JUSTIFY">5.3.2&nbsp;&nbsp;&nbsp; Reaction and nutrient
status (V) </h3>

<p ALIGN="JUSTIFY">Organic soils can have a wide range of nutrient
levels which relates largely to the source of water. Those areas receiving water mainly
from surrounding mineral soils or from groundwater usually have a near neutral pH and a
relatively high nutrient content (eutrophic). Those areas where the water at the surface
of the organic deposit is primarily from precipitation are usually more acidic and are
generally nutrient poor (oligotrophic). In nearly all cases organic soils have special
fertilizer requirements. Potassium need is universal and micronutrient deficiencies are
common, particularly in the more acidic environments (Lucas, 1982).</p>

<p ALIGN="JUSTIFY">The relationship between fertility and acidity
involves several interrelated factors including nutrient content, origin of material and
degree of decomposition. Again it is not a simple correlation but one which also involves
water source and pH. Very broadly speaking, the raw sphagnum peats have high fibre
content, high C:N ratios, low pH, and low nutrient contents while the moderately
decomposed sedge peats commonly have low fibre contents, low C:N ratios, a more neutral pH
and a better supply of nutrients.</p>

<p ALIGN="JUSTIFY">While acknowledging that there are inherent dangers
in over simplification it was considered necessary to recognize interaction of the basic
factors. Therefore, the following table (Table 5.6) is suggested for a general
reaction/nutrient status (fertility) rating.</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
  <tr>
    <td WIDTH="791" VALIGN="TOP" COLSPAN="10" height="57"><p ALIGN="left"><strong><br>
    Table 5.6</strong> - Point deductions for reaction / nutrient status.<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="36">Reaction<br>
    pH (3)</td>
    <td WIDTH="147" VALIGN="TOP" height="36">Surface<br>
    </td>
    <td WIDTH="118" VALIGN="TOP" colspan="2" height="36"><p align="center">fibric<br>
    </td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p align="center">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">mesic</td>
    <td WIDTH="83" VALIGN="TOP" height="36"><p ALIGN="CENTER">|</td>
    <td WIDTH="138" VALIGN="TOP" colspan="2" height="36"><p align="center">humic</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="54">&nbsp;</td>
    <td WIDTH="147" VALIGN="TOP" height="54">Fibre content (1)<br>
    von Post scale<br>
    bulk density (2)</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="54">80<br><br>
    1&nbsp;&nbsp;&nbsp;&nbsp; 2<br><br>
    0.04</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="54">60<br><br>
      3<br><br>
      0.07</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">40<br><br>
    4<br><br>
    0.10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">30<br><br>
    5<br><br>
    0.13</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">20<br><br>
    6<br><br>
    0.16</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">10<br><br>
      7<br><br>
      0.18</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">5<br><br>
    8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9<br><br>
    0.20</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="54">0<br><br>
    10<br><br>
    0.22</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">&gt;7.5</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="663" VALIGN="TOP" align="center" colspan="8" height="19">see
    salinity</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="21">7.5</td>
    <td WIDTH="147" VALIGN="TOP" height="21">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="21">50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="21">35</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">25</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="21">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">7.0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">45</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">6.5</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">40</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">6.0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">40</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">5.5</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">40</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">5.0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">45</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">35</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">25</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">4.5</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">50</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">40</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">4.0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">55</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">45</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">35</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">3.5</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">60</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">50</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">45</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">40</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="54" VALIGN="TOP" height="19">3.0</td>
    <td WIDTH="147" VALIGN="TOP" height="19">&nbsp;</td>
    <td WIDTH="91" VALIGN="TOP" align="center" height="19">70</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="74" VALIGN="TOP" align="center" height="19">60</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">55</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">50</td>
    <td WIDTH="83" VALIGN="TOP" align="center" height="19">&nbsp;</td>
  </tr>
  <tr>
    <td WIDTH="665" VALIGN="TOP" colspan="10" height="96"><br>
    (1) % rubbed fibre &gt;0.15 mm.<br>
    (2) BuIk density in Mg/cubic m.<br>
    (3) Measured in saturated paste. Add 0.5 units to pH values measured in CaCl<sub>2</sub>.<br>
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<table border="1" width="100%">
  <tbody><tr>
    <td bgcolor="#FFFFFF" width="100%"><font face="Arial"><strong>Table 5.6 Implementation -
    Surface Reaction / Nutrient Status Deduction (V)</strong></font><p><font face="Arial">If
    pH &lt; 5.5 then<br>
    &nbsp;&nbsp;&nbsp; Deduction V = (40*((SQRT SurfaceFibre)/8.9))+(((5.5 - SurfacePH)/0.1) *
    (1+((SQRT(100/SurfaceFibre+0.1))*0.1))) </font></p>
    <p><font face="Arial">If pH &gt;= 5.5 then<br>
    &nbsp;&nbsp;&nbsp; Deduction V = 40 * ((SQRT SurfaceFibre) / 8.9)</font></p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="100%"><font face="Arial">COMMENTS:</font><ul>
      <li><font face="Arial">In the above equation, the portion
        "SQRT(100/SurfFibre+0.1)" has 0.1 added to SurfaceFibre to avoid division by
        zero errors.</font></li>
      <li><font face="Arial">This deduction is realized with two formulaes. One for pH &lt; 5.5
        and one for pH &gt;= 5.5.</font></li>
    </ul>
    </td>
  </tr>
</tbody></table>


<p>&nbsp;</p>



