<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h3>5.4.2 Depth of deposit and kind of substrate (G)</h3>

<p>The depth to and kind of substrate affect a number of aspects in the
management of organic soils ranging from water control to nutrition to long term
management and sustainability. Many of these are linked to climate which is reflected in
the following table.</p>

<p>&nbsp;</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
  <tr>
    <td WIDTH="791" VALIGN="TOP" COLSPAN="11"><p ALIGN="left"><strong><br>
    Table 5.9</strong> - Percent deduction for subsurface layers.<br>
    </td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>Kind of
    layer</strong></td>
    <td WIDTH="64" VALIGN="top" bgcolor="#808000"><strong>P-PE<br>
    </strong></td>
    <td WIDTH="191" VALIGN="top" colspan="3" align="center" bgcolor="#808000"><strong>-50<br>
    (perhumid)</strong></td>
    <td WIDTH="221" VALIGN="top" colspan="3" align="center" bgcolor="#808000"><strong><fontface="Arial" size="3">-150<br>
    (humid)</strong></td>
    <td WIDTH="221" VALIGN="top" colspan="3" align="center" bgcolor="#808000"><strong>-250<br>
    (subhumid)</strong></td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0">&nbsp;</td>
    <td WIDTH="64" VALIGN="top" bgcolor="#008080"><strong>Depth</strong></td>
    <td WIDTH="73" VALIGN="top" align="center" bgcolor="#008080"><strong>40</strong></td>
    <td WIDTH="91" VALIGN="top" align="center" bgcolor="#008080"><strong>80</strong></td>
    <td WIDTH="74" VALIGN="top" align="center" bgcolor="#008080"><strong>120</strong></td>
    <td WIDTH="83" VALIGN="top" align="center" bgcolor="#008080"><strong>40</strong></td>
    <td WIDTH="83" VALIGN="top" align="center" bgcolor="#008080"><strong>80</strong></td>
    <td WIDTH="83" VALIGN="top" align="center" bgcolor="#008080"><strong>120</strong></td>
    <td WIDTH="83" VALIGN="top" align="center" bgcolor="#008080"><strong>40</strong></td>
    <td WIDTH="83" VALIGN="top" align="center" bgcolor="#008080"><strong>80</strong></td>
    <td WIDTH="83" VALIGN="top" align="center" bgcolor="#008080"><strong>120</strong></td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>sandy</strong></td>
    <td WIDTH="64" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="73" VALIGN="TOP" align="center">10</td>
    <td WIDTH="91" VALIGN="TOP" align="center">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>loamy</strong></td>
    <td WIDTH="64" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="73" VALIGN="TOP" align="center">30</td>
    <td WIDTH="91" VALIGN="TOP" align="center">20</td>
    <td WIDTH="74" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">5</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>clayey</strong></td>
    <td WIDTH="64" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="73" VALIGN="TOP" align="center">40</td>
    <td WIDTH="91" VALIGN="TOP" align="center">30</td>
    <td WIDTH="74" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">30</td>
    <td WIDTH="83" VALIGN="TOP" align="center">15</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">0</td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>gravel</strong></td>
    <td WIDTH="64" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="73" VALIGN="TOP" align="center">50</td>
    <td WIDTH="91" VALIGN="TOP" align="center">0</td>
    <td WIDTH="74" VALIGN="TOP" align="center">0</td>
    <td WIDTH="83" VALIGN="TOP" align="center">60</td>
    <td WIDTH="83" VALIGN="TOP" align="center">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">70</td>
    <td WIDTH="83" VALIGN="TOP" align="center">40</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>gyttja
    (1)</strong></td>
    <td WIDTH="64" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="73" VALIGN="TOP" align="center">60</td>
    <td WIDTH="91" VALIGN="TOP" align="center">30</td>
    <td WIDTH="74" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">70</td>
    <td WIDTH="83" VALIGN="TOP" align="center">40</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
    <td WIDTH="83" VALIGN="TOP" align="center">80</td>
    <td WIDTH="83" VALIGN="TOP" align="center">50</td>
    <td WIDTH="83" VALIGN="TOP" align="center">10</td>
  </tr>
  <tr>
    <td WIDTH="64" VALIGN="top" bgcolor="#C0C0C0"><strong>bedrock</strong></td>
    <td WIDTH="64" VALIGN="TOP">&nbsp;</td>
    <td WIDTH="73" VALIGN="TOP" align="center">80</td>
    <td WIDTH="91" VALIGN="TOP" align="center">40</td>
    <td WIDTH="74" VALIGN="TOP" align="center">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">90</td>
    <td WIDTH="83" VALIGN="TOP" align="center">50</td>
    <td WIDTH="83" VALIGN="TOP" align="center">20</td>
    <td WIDTH="83" VALIGN="TOP" align="center">90</td>
    <td WIDTH="83" VALIGN="TOP" align="center">60</td>
    <td WIDTH="83" VALIGN="TOP" align="center">30</td>
  </tr>
  <tr>
    <td WIDTH="665" VALIGN="TOP" colspan="11"><br>
    (1) Includes sedimentary peat and coprogenous earth.<br>
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<table border="1" width="100%">
  <tbody><tr>
    <td width="100%"><strong>Table 5.9 Implementation - Subsurface
    Substrate % Deduction (G).</strong><small> </small><p>IF depth
    of organic &lt; 140 cm then:&nbsp;&nbsp; </p>
    <blockquote>
      <p>If HZN_MAS = 'R' then <br>
      % Deduction G = ((120-Dr)*0.8)+(10+((P-PE)/-15)) </p>
    </blockquote>
    <blockquote>
      <p>If HZN_MAS = 'CO' then <br>
      % Deduction G = ((120-Dco)*0.7)+( 5+((P-PE)/-15)) </p>
    </blockquote>
    <blockquote>
      <p>If HZN_MAS = 'C' OR HZN_MAS = 'A' AND COFRAG &gt;= 20 then <br>
      % Deduction G = ((120-D)*0.6)+((P-PE)/-15) </p>
    </blockquote>
    <blockquote>
      <p>If HZN_MAS = 'C' OR HZN_MAS = 'A' AND COFRAG &lt; 20 then <br>
      % Deduction G = (((100-D)*0.6)*((%Si+%C)/80))+((P-PE)/-15)&nbsp;&nbsp; </p>
    </blockquote>
    <p>&nbsp;</p>
    <p>Final Deduction must be &gt;= 0</p>
    <p>Above rules / equations require:</p>
    <blockquote>
      <p>P-PE <br>
      Organic Depth <br>
      Substrate Master Horizon <br>
      Substrate COFRAG <br>
      Substrate % Si <br>
      Substrate % C</p>
    </blockquote>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="100%">COMMENTS<ul>
      <li>If depth of organic &gt;= 140 then no deduction is made (i.e., %
        Deduction = 0).</li>
      <li>If HZN_MAS is not one of the ones listed above and/or the conditions
        being checked for are not satisfied, then no deduction is made (this is meant to handle
        unexpected data issues).<br>
        </li>
    </ul>
    <p>FURTHER NOTE FOR NSDB DATA</p>
    <p>If the following HZNMAS values are encountered, they are converted
    as shown for processing purposes.</p>
    <blockquote>
      <p>if (HZNMAS = 'AB') then HZNMAS := 'A';<br>
      if (HZNMAS = 'AC') then HZNMAS := 'A';<br>
      if (HZNMAS = 'B') then HZNMAS := 'A';<br>
      if (HZNMAS = 'BA') then HZNMAS := 'A';<br>
      if (HZNMAS = 'BC') then HZNMAS := 'A';<br>
      if (HZNMAS = 'C+H') then HZNMAS := 'C';<br>
      if (HZNMAS = 'CA') then HZNMAS := 'C';<br>
      if (HZNMAS = 'CB') then HZNMAS := 'C';<br>
      if (HZNMAS = 'W') then HZNMAS := 'R';</p>
    </blockquote>
    <p>&nbsp;</p></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>


<%= render :partial => "clf3" %>