<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h3 ALIGN="JUSTIFY">Final Surface Deduction (sf) : calculation</h3>

<p>1.  Determine higher value between (V) and (N) and add this to (B) to get Surface Factors deduction,
which is expressed as a percentage</p>

<p>2.  Final Surface Deduction = Surface Factors deduction %  X   Interim Rating (b) </p>


<p>&nbsp;</p>


<%= render :partial => "clf3" %>