<%= render :partial => "clf1" %>
<title>LSRS Manual, Section 4.2.3</title>
<%= render :partial => "clf2" %>

<p>&nbsp;</p>

<h3>Moisture Deficit Factor</h3>

<p>&nbsp;</p>

<p>This factor accounts for an organic soils deficiency in terms of supplying water to crops during
growing season.  Four parameters are used to calculate the point deduction:<br>
1.  Amount of water supplied by rain, ie P-PE index<br>
2.  Thickness and type of fibres in the surface layer<br>
3.  Thickness and type of fibres in the subsurface layer<br>
4.  Depth of water table.
</p>

<p>All peats hold a large amount of water at saturation but the availability of that water varies
markedly with material characteristics. The low density, fibric types, with large pore spaces,
drain very quickly under gravity and can become droughty under conditions of climatic moisture
deficit. The denser, humic peats, on the other hand, drain very slowly and are subject
to waterlogging under humid conditions. </p>

<p>It is recognized that the source of organic
material, whether sphagnum, sedge or woody peat, may influence many of the critical
properties. However, the vegetation source is not specifically dealt with in this
preliminary procedure beyond the common relationships to such aspects as fibre content and
reaction. Another characteristic of peats is the compaction which follows drainage and
cultivation. This makes depth comparisons based on undeveloped conditions somewhat
difficult. For consistency, it is suggested that a &quot;compacted&quot; depth be used as
a standard reference. The following table (Table 5.1) presents some general guidelines for
assessing settlement of peat materials.</p>

<p>&nbsp;</p>

<table BORDER="1" CELLSPACING="1" CELLPADDING="5" WIDTH="513">
  <tr>
    <td WIDTH="462" VALIGN="TOP" colspan="3">Table 5.1 - Approximate
    settlement of different peat materials.</td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP">Relative density (Mg/rn<sup>3</sup>)</td>
    <td WIDTH="154" VALIGN="TOP"><p align="center">Degree of decomposition <br>
    (fibre content)</td>
    <td WIDTH="194" VALIGN="TOP" align="center">Approximate settlement</td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP">very loose<br>
    (&lt;0.07)</td>
    <td WIDTH="154" VALIGN="TOP" align="center">fibric</td>
    <td WIDTH="194" VALIGN="TOP" align="center">40%</td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP">loose<br>
    (0.07&#151;0.10)</td>
    <td WIDTH="154" VALIGN="TOP" align="center"><p ALIGN="CENTER">fibric -
    mesic</td>
    <td WIDTH="194" VALIGN="TOP" align="center">30%</td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP">rather dense<br>
    (0.10&#151;0.18)</td>
    <td WIDTH="154" VALIGN="TOP" align="center">mesic</td>
    <td WIDTH="194" VALIGN="TOP" align="center">20%</td>
  </tr>
  <tr>
    <td WIDTH="123" VALIGN="TOP">dense<br>
    (&gt;0.18)</td>
    <td WIDTH="154" VALIGN="TOP" align="center">humic</td>
    <td WIDTH="194" VALIGN="TOP" align="center">15%</td>
  </tr>
</table>


<p>&nbsp;</p>



<%= render :partial => "clf3" %>