<p>The critical cut off points used for Alfalfa are identical to those originally used to determine the aridity rating for spring-seeded small grains in version 1 of LSRS (see section 2.1.2.3 in the <a href="/documentation/reports/AlfalfaBromeTimothyModelDevelopment.doc">Model Development document</a>):</p>
