<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>LSRS batch processing service</title>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
      </div> 

      <div id="content">
        <div id="header">
          <h1>LSRS batch processing service</h1>
        </div>

<h2>Service</h2>

  <ul>
    <li><a href="/lsrsbatch/service">DescribeProcess</a></li>
  </ul>

<h2>Client</h2>

  <ul>
    <li><a href="/lsrsbatch/client">client</a></li>
  </ul>

<h2>Example requests</h2>

  <ul>
    <li><a href="/lsrsbatch/service?FROMSL=800001&TOSL=800003&CROP=alfalfa">http://<%=request.host%>/batch/serv?FROMSL=800001&TOSL=800003&CROP=alfalfa</a></li>
  </ul>


</div>
</body>
</html>
