<!DOCTYPE html>
<html>
<head>
  <title><%=yield :title%></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/lsrs/5.0/lsrs.css" />
</head>
<body>
<!-- BREAD CRUMB -->
<center>
<p class="breadcrumb">
<a href="http://sis.agr.gc.ca/cansis/index.html">CanSIS</a> &gt; 
Systems &gt; 
<a href="/contents.html">Land Suitability Rating System (LSRS) version 5</a>
</p>
</center>
<hr height="4px" color="gray"/>
<!-- CONTENT -->
<%= yield %>
</body>
</html>
