<!DOCTYPE html>
<html>
<head>
  <title><%=yield :title%></title>
	  <%= stylesheet_link_tag 'climateindices' %>
</head>
<body>
<p>
<a href="/contents.html">LSRS</a> 
&gt; <a href="/climateindices/index">Climate Indices Calculator</a>


<%= yield %>

</body>
</html>
