<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>LSRS batch status</title>
<link rel="stylesheet"  href="/stylesheets/lsrs/1.0/lsrs.css" type="text/css"/>
</head>
<body>

<center>

<div id="main" >
<div id="header">
<h1>Batch results deleted</h1>

<center><a href="client">Refresh Batch Listing</a></center>


</center>
</div>
</div>
</body>
</html>
